.ul {
  list-style-type: none;
}
.ul li {
  background: aqua;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list p {
  display: block;
  margin: 0 auto;
  color: #000;
}
.list button {
  background: #f2f2f2;
  padding: 8px 12px;
  transition: 0.8s;
}
.list button:hover {
  background-color: antiquewhite;
  scale: 1.1;
  border: 1px solid black;
}
.ul .activeButton {
  background: rgb(154, 204, 221);
  font-size: 18px;
}
.loading {
  margin-top: 35px;
  font-size: 24px;
  color: black;
}
